<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ================================================= -->
    <!--          PERMISSIONS RÉSEAU ET NOTIFICATIONS       -->
    <!-- ================================================= -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Permissions pour les notifications push (Firebase) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- OBLIGATOIRE pour Android 13 (API 33) et plus -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
        mais sachez que Google Play Store pourrait vous demander de justifier son usage.
    -->
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> -->


    <application
        android:label="JNA ADMIN"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"> <!-- Ajouté pour une meilleure compatibilité avec les nouvelles versions d'Android -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
          android:name="flutterEmbedding"
          android:value="2" />
    </application>

    <!-- ================================================= -->
    <!--           VISIBILITÉ DES AUTRES APPLICATIONS          -->
    <!-- ================================================= -->
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.
         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- Pour permettre à votre app de "voir" et d'interagir avec WhatsApp -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="whatsapp" />
        </intent>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" /> <!-- Pour WhatsApp Business -->

        <!-- Conservez la requête existante -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>